*{
	margin: 0;
	padding: 0;
}

#title{
	font-family: Apercu;
	color: #DCD6FF;
	display: block;
	text-align: center;
	margin-top: 20%;
	margin-bottom: 2%;


}

#subtitle{
	font-family: Apercu;
	color: #DCD6FF;
	text-align: center;
	margin-bottom: 10%;
}


#check{
	display: inline-blockl;
}

fieldset{
	border: 0;
}

body{
	background-color: #170723;
	font-family: Apercu;
	font-size: 1em;
	color: #A99AF3;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

input, select, textarea, button{
	font-family: Apercu;
	font-size: 1em;
	color:#A99AF3;
	border: 1.5px solid #A99AF3;
	background-color: rgba(207,198,255,0.15);
	border-radius: 7px;
}

.group{
	width: 100%;

}
.group:before, .group:after {
	display: table;
}

.group:after{
	clear: both;
}

.camp{
	margin-bottom: 1em;
}

.camp label{
	margin-bottom: 0.2em;
	color: "A99AF3";
	display: block;
}

fieldset.group .camp{
	float: left;
	margin-right: 1em;
}

.camp input[type="text"], .camp input[type="email"], .camp select, .camp textarea{
	padding: 0.2em;
	border: 1.5px solid #A99AF3;
	background-color: rgba(207,198,255,0.15);
	display: block;
}

.camp select option{
	padding-right: 1em;
}

.camp input:focus, .camp select:focus, .camp textarea:focus{
	background: rgba(191,240,255,0.29);
	border: 1.5px solid #BFF0FF;
}

.button{
	font-size: 1.2em;
	background: #CFC6FF;
	border: 0;
	margin-bottom: 1em;
	margin-top: 10%;
	color: #170723;
	font-weight: bold;
	padding: 0.2em 0.6em;
	display:block;
	margin: 10% auto;

}

.button:hover{
	background: #BFF0FF;

}

.button, select{
	cursor: pointer;
}


